body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
.left{
    padding-left: 70px;
}
.right{
    padding-right: 70px;
}
.header{
    display: flex;
    background-color: #1F2937;
    color: white;
    padding-top: 10px;
    padding-bottom: 50px;
    justify-content: space-between;
}
.headerlink{
    font-size: 18px;
}
.headerlogo{
    font-size: 24px;
}
a{
    color: #E5E7EB;
    text-decoration: none;
}
a:hover{
    color: #3882f6;
}

ul{
    list-style-type: none;
    display: flex;
    gap: 10px;
    margin: 0;
    padding: 0;
    
}
.top{
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
}
.topleft{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}
.title{
    font-weight: bold;
    font-size: 48px;
}
.subtext{
    max-width: 300px;
    padding-bottom: 10px;
}
.signup{
    max-width: 100px;
}
.drink{
    width: 200px;
    padding-left: 10px;
}